langchain
langgraph
langchain_core
langchain-huggingface
langchain-community
huggingface_hub
fastapi
pypdf
pydantic
pydantic_settings
sentence_transformers

qdrant-client
rank-bm25

uvicorn

langfuse

ragas


# -e .